.App{
    background-color: cadetblue;
}

nav {
    text-align: center;
    margin: 5px
}

.homepageLinks {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    width: 100%;
    
}

.search{
    border: 2px black solid;
    width: 50%
}

.favoriteBtn{
    width: 50%;
    border: 2px black solid;

}
