form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.textArea{
    width: 500px;
    height: 30px;
    margin-right: 10.5px;
}

.pageButtons{
    display:flex;
    justify-content: baseline;
    align-items: flex-end;
}
