.gifBox {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 50px;
}

.picDiv {
    border: 1px solid rgb(23, 18, 18);
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.favBtns{
    display: flex;
    flex-direction: row-reverse;
}

.pic {
    margin-top: 5px;
}
